{% extends "::layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s5">
                <select name="filter-advert" id="filter-advert">
                    <option>Annonce publiées (2)</option>
                    <option>Annonce en négociation (0)</option>
                    <option>Annonce archivées (4)</option>
                </select>
            </div>
            <div class="col s7"></div>
        </div>
        <h2 class="header">Mes annonces</h2>
        {% for i in 0..3 %}
            <div class="row">
                <div class="col s12">
                    <div class="card horizontal cart-advert card-type-{{ i % 3 }}">
                        <div class="card-image">
                            <img class="activator" src="http://lorempixel.com/100/190/nature/{{ i }}">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title activator">
                                    {{ random(['Moto', 'Voiture', 'Quad']) }}
                                    <i class="material-icons right">more_vert</i>
                                    {% if i % 3 == 0 %}
                                        <i class="material-icons right">compare_arrows</i>
                                    {% elseif i % 3 == 2 %}
                                        <i class="material-icons right">visibility</i>
                                    {% else %}
                                        <i class="material-icons right">archive</i>
                                    {% endif %}

                                </span>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur,
                                    autem consectetur corporis culpa eos exercitationem facere incidunt inventore iusto,
                                    molestiae non quae quibusdam, quis quisquam quos rem rerum unde.
                                </p>
                            </div>
                            <div class="card-action">
                                <div class="row">
                                    {% if i % 3 == 0 %}
                                        <div class="col s12 right-align"><a href="#">Facture</a></div>
                                    {% elseif i % 3 == 2 %}
                                        <div class="col s6"><a href="#">Calendrier</a></div>
                                        <div class="col s6 right-align"><a href="#">Visualiser / Modifier</a></div>
                                    {% else %}
                                        <div class="col s12 right-align"><a href="#">Archives</a></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title">{{ random(['Moto', 'Voiture', 'Quad']) }}<i
                                        class="material-icons right">close</i></span>
                            <div class="row">
                                <div class="col s6">Date de publication</div>
                                <div class="col s6">16/01/2017</div>
                            </div>
                            <div class="row">
                                <div class="col s6">Statut</div>
                                <div class="col s6">En ligne</div>
                            </div>
                            <div class="row">
                                <div class="col s6">Nombre de vues</div>
                                <div class="col s6">302</div>
                            </div>
                            <div class="row">
                                <div class="col s6">Validité</div>
                                <div class="col s6">16 jours restants</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        {% endfor %}
        <div class="center-align">
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block left_side_content %}
    <div class="border-right">
        <div class="always-show">
            <div class="link-action">
                <div class="row">
                    <div class="col s12"><a href="">Mes evenements à venir</a></div>
                </div>
                <div class="row">
                    <div class="col s12"><a href="">Mon calendrier</a></div>
                </div>

                <a class="modal-trigger" href="#modal1">Publier une annonce</a>
                <!-- Modal Structure -->
                <div id="modal1" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>Modal Header</h4>
                        <p>A bunch of text</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="divider"></div>
            <span class="flow-text">Annonce en <br>cours de <br>validation</span>
        </div>
        <div class="card-in-validation">
            {% for i in 0..2 %}
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://lorempixel.com/80/80/nature/{{ i }}">
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ random(['Moto', 'Voiture', 'Quad']) }}
                        <i
                                class="material-icons right">more_vert</i></span>
                        <p><a href="#">En savoir plus...</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ random(['Moto', 'Voiture', 'Quad']) }}<i
                                    class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block nav %}
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="{{ path("app_home") }}"
                                              class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Tableau de bord</a></li>
                <li><a href="#">Mes messages</a></li>
                <li><a href="{{ path('app_my_adverts') }}">Mes annonces</a></li>
                <li><a href="#">Mes evenements</a></li>
                <li><a href="#">Mon profil</a></li>
                <li><a href="#">Mon compte</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="">Tableau de bord</a></li>
                <li><a href="#">Mes messages</a></li>
                <li><a href="{{ path('app_my_adverts') }}">Mes annonces</a></li>
                <li><a href="#">Mes evenements</a></li>
                <li><a href="#">Mon profil</a></li>
                <li><a href="#">Mon compte</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
{% endblock %}